<h1>Homepage</h1>
<table>
	<tr>
		<td><%= link_to "Warehouse", warehouses_path%></td>
		<td><%= link_to "Transaction", item_wh_transacs_path%></td>
		<td><%= link_to "Item", items_path %></td>
	</tr>
</table>
