<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %></h1>
    <p>
 	Hi , You have made a booking
     </p>
  </body>
</html>