<div class="col-md-2" xmlns="http://www.w3.org/1999/html"><div class="sidebar-nav">

  <ul class="nav nav-list accordion" id="sidenav-accordian">
    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
              Manage Cities
            </span></a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Manage Services
            </span></a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Manage Workers
            </span></a>

      </div>


    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas4"> <span class="nav-header-primary">
             Manage Inventory
            </span></a>

      </div>
      <ul class="nav nav-list collapse" id="content-areas4">
        <li><a href="#" title="Title">Item</a>
        </li>
        <li><a href="#" title="Title">WareHouse</a>
        </li>
        <li><a href="#" title="Title">Item With Transaction</a>
        </li>
      </ul>
    </li>
  </ul>

</div>

</div>
