<div class='row' style="margin-bottom: 60px">
  <%= render 'shared/sharedTop' %>
</div>
<div class='row'>
  <%= render 'shared/sharedside' %>
 <div class="col-md-10" style="margin-left: 230px;">

            <!--side bar end-->


            <!--Add worker start-->



        <div class="col-md-10" id="page_size">
          <div id="page-wrapper">
            <div class="row">
                   <div>
                      <h3 class="page-header">Leads</h3>
                   </div>

							  <%=   render(
								    :partial => 'list',
								    :locals => { :leads => @leads }
								  ) %>

							


              </div>
            </div><!-- row -->
          </div> <!-- paper wrapper -->
        </div>  <!-- col-10 -->
               <!--Add worker end-->

     </div>
    </div>




