<div class='row' style="margin-bottom: 60px">
  <%= render 'shared/sharedTop' %>
</div>

<div class='row'>
  <%= render 'shared/sharedside' %>


  <div class="col-md-10" style="margin-left:230px;">
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1>New item_wh_transac</h1>
    </div>
    <div class="col-md-7">

    </div>

  </div>
</div>


<%= render 'form' %>

</div>
    </div>