

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
                <div id="top_background">
                  <h2><a>Edit Workers Detail</a><i class="fa fa-pencil fa-2x"></i></h2>
                </div>
                <div id="bottom_background">
                  <%= render 'form' %>
                </div>
        </div>

        <!--(edit page end)-->



