

     <form id="signup" class="form-horizontal">
              <div class="form-group">
                <label class="col-xs-3 control-label">Full name</label>

                <div class="col-xs-3">
                  <input type="text" class="form-control" name="firstName" placeholder="First name" />
              </div>

              <div class="col-xs-3">
                  <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Phone number</label>

                <div class="col-xs-6">
                  <input type="number" class="form-control" name="cellPhone" placeholder="Cell" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Email Id</label>

                <div class="col-xs-6">
                  <input type="email" class="form-control" name="Example@.com" placeholder="Example@.com" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Password</label>
                <div class="col-xs-6">
                  <input type="password" class="form-control" name="password" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Re-Enter Password</label>
                <div class="col-xs-6">
                  <input type="password" class="form-control" name="Re-enter password" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Gender</label>
                <div class="col-xs-5">
                  <div class="radio">
                    <label>
                      <input type="radio" name="gender" value="male" /> Male
                    </label>
                  </div>

                  <div class="radio">
                    <label>
                      <input type="radio" name="gender" value="female" /> Female
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label">Date of birth</label>
                <div class="col-xs-3">
                  <input type="text" class="form-control" name="birthday" placeholder="YYYY/MM/DD" />
                </div>
              </div>

              <div align="left">
                <form id="myForm">
                  <input type="file" id="upload">
                </form>
              </div>

              <div class="form-group">
                <div class="col-xs-5 col-xs-offset-3">
                  <button type="submit" class="btn btn-info">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
    </form>

       <!--formend-->