<table class="table table-bordered">
  <thead>
  <tr>
    <th>Hyderabad</th>
    <th>Bangalore</th>
    <th>Mumbai</th>
    <th>Delhi</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Buildings<br/>
      George Street<br/>
      Bath<br/>
      England BA1<br/>
      Help-line:000-000-0000
    </td>
    <td>
      Edgar Buildings<br/>
      George Street<br/>
      Bath<br/>
      England BA1<br/>
      Help-line:000-000-0000
    </td>
    <td>
      Edgar Buildings<br/>
      George Street<br/>
      Bath<br/>
      England BA1<br/>
      Help-line:000-000-0000
    </td>
    <td>
      Edgar Buildings<br/>
      George Street<br/>
      Bath<br/>
      England BA1<br/>
      Help-line:000-000-0000
    </td>
  </tr>
  </tbody>
</table>