// Place all the styles related to the Workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  #space{
    margin-top: 80px;
  }
  .fa:hover{
    background-color:transparent;
    color:#ffffff;
    text-decoration: none;
  }
  #form-design{
    border:2px;
    border-style:solid;
    border-color:#0CF;
    padding-left:30px;
  }
  #worker_editer{
    padding-left: 15px;
    padding-right:0px;
    padding-bottom: 10px;
    padding-top: 10px;

  }
  #edit_show{
    padding-left: 18px;
  }
  #page_size{
    padding-left:25px;

  }