<!DOCTYPE html>
<html>
<head>
  <title>Vegam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>VEGAM</title>
    
	<style>
        #align{
            margin-left:px;
            margin-top:20px;
            color:#FFF;
        }
        #align:hover{
            color:#000;
            text-decoration:none;
        }
        #search{
            margin-top:20px;
            background-image:url(/assets/home_page_bg.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            height:700px;
            width:100%;
        }
        #inner{
            padding-left:25px;
            padding-bottom:30px;
            background-color:rgba(190,190,190,0.6);
            margin-top:200px;
            box-shadow: 10px 10px 5px #666;
            border-radius:9px;
        }
        #cont{
            padding-top:10px;
            border-radius:6px;
            margin-left:20px;
            background-color:#FFF;
            height:100px;
            width:100px;
        }
        .navbar-custom {
            color: #FFFFFF;
            background-color: #00CCFF;
        }
        #cont_img{
            margin-top:350px;
        }
        #foot_img{
            background-image:url(/assets/footer_img.jpg);
            height:100%;
            width:1349px;
        }
        #txt_style {
            margin-top: 320px;
            font-size: medium;
        }
        #txt_style li:a{
            color:#00CCFF;
        }



    </style>
</head>
<body>

<%= yield %>

</body>
</html>
